<!DOCTYPE html>
<html>
  <head> <% include ./partials/template/head.ejs %>
  </head>
  <body>
    <% include ./partials/template/header.ejs %>
    <% // include ./views/partials/content/speakerslist.ejs %>

    <section class="layout">
      <div class="primary">
            <% // include ./views/partials/content/whoarewe.ejs %>
            <% // include ./views/partials/content/getbusy.ejs %>
            <% // include ./views/partials/content/whoshouldcome.ejs %>
      </div> <!-- primary -->
      <aside class="secondary">
        <% // include ./views/partials/content/nexmeeting.ejs %>
          <% // include ./views/partials/content/artworklist.ejs %>
      </aside><!-- secondary -->
    </section> <!-- layout -->
    
    <% // include ./partials/template/footer.ejs %>
    <% // include ./partials/template/jsdefaults.ejs %>
  </body> 
</html>
